/* Reset für Margin und Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Globale Stile */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #99ccff;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Allgemeine Stile für die Tabelle */
#emissions-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#emissions-table th, #emissions-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#emissions-table th {
    background-color: #f2f2f2;
}

/* Stile für die Header-Zeile */
#emissions-table thead th {
    background-color: #4CAF50;
    color: white;
}

/* Stile für die Datenzeilen */
#emissions-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#emissions-table tbody tr:hover {
    background-color: #ddd;
}

/* Stile für die Filter-Inputs */
label {
    margin-right: 10px;
    font-weight: bold;
}

input[type="text"] {
    padding: 6px;
    width: 200px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
}